<html lang="en">

    <!--head of the web page-->
    <head>
        <!--title - this is the title of this html file-->
        <title>Application form</title>

        <!--this is external style-->
        <link href="../styles/styles.css" rel="stylesheet"/>
    </head>

    <!--body of the web page-->
    <!--body is the rendering part of the html-->
    <!--this is inline/attribute style-->
<body>
<div id="form_holder">
  <h2>Employee Application</h2>
  <form id="Employee Application">
    <div class="name">
        <label for="First_Name"><b>First name :</b></label>
        <input type="text" name="first_name" placeholder="First">
        </div>
         <div class="name">
         <label for="Last_Name"><b>Last name :</b></label>
       <input type="text" name="last_name" placeholder="Last">
    </div>
      <div class="name">  
    <label for="Phone"><b>Phone Number :</b></label>
    <input name="Phone"  placeholder="Phone Number"   type="text" />
     </div>
      <div class="name">  
        <label for="Email_Address"><b>Email id :</b></label>
        <input class="" type="text" name="email" placeholder="email">
        </div>
    <div class="checked_box">
      <p>How would you like to be contacted?</p>
      <div class="radio">
        <input type="radio" value="email" name="preferred_contact" placeholder="checkbox">Email
      </div><!--
      --><div class="radio">
        <input type="radio" value="phone" name="preferred_contact" placeholder="checkbox">Phone
      </div>
    </div>
    
   <!--Submit-->
        <button id="submit"   name ="submit" class="button"> Submit</button>
        <button id="reset"   name ="reset" class="button2"> Reset</button>
       
  </form>
</div>
 <center>
                    <ul>
                       
                       
                        <li>Contact us</li>
                         <li>All Rights Reserved.</li>
                       
                    </ul>
                </center>
</body>